.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 5%;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  padding-right: 5%;
}

.logo-link {
  text-decoration: none;
  color: #0066ff;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: large;
  font-weight: 500;
}
.nav-links a{
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #393838;
  font-weight: 500;
  font-size: large;
  transition: color 0.2s ease;
}

.link:hover, .active-link {
  color: #0066ff;
}