.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.web {
  color: #00b3ff;
}

.link {
  color: green;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}