.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background: linear-gradient(to right top, #f9f9f9 80%, #007bff 80%);

}
.signup-container {
  background-color: white;
  padding: 30px 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} 

.signup-form {
  display: flex;
 flex-direction: column;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 20px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}
.signup-button:disabled{
  cursor:wait;
  opacity: 0.6;
}

.login-redirect {
  text-align: center;
  margin-top: 10px;
  background-color: #eafaf0;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.login-redirect a{
  text-decoration: none;
}