body, html, .App {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background: linear-gradient(to right top, #f9f9f9 70%, #007bff 30%);
}
